@import "mixin.scss";

@include title-view("../images/H2.jpg");

.main{
  width: 65%;
  margin: 0 auto;
  .contact{
    @include sub-title;
    .text{
      font-size: 1.8rem;
    }
    .item{
      margin-top: 30px;
      font-size: 2rem;
      input{
        width: 50%;
      }
      textarea{
        width: 50%;
        height: 100px;
      }
      button{
        width: 50%;
        height: 50px;
        border-radius: 25px;
        background: #fbdd4a;
        color: #FFF;
        margin-top: 40px;
        border: 0px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}