.title-view {
  width: 100%;
  text-align: center;
  background: url("../images/H2.jpg");
  background-position: 50% 45%;
}
.title-view .bg {
  display: inline-block;
  line-height: 11rem;
  font-size: 4rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 3rem;
  color: #01254a;
}

.main {
  width: 65%;
  margin: 0 auto;
}
.main .content .sub-title {
  font-size: 3rem;
  line-height: 3.2rem;
  margin: 70px auto 60px;
  text-align: center;
  color: #01254a;
  font-style: italic;
}
.main .content .sub-title .small {
  font-size: 1.8rem;
}
.main .content .items .item {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.main .content .items .item .image img {
  width: 350px;
  height: auto;
}
.main .content .items .item .box {
  width: 350px;
  margin-left: 50px;
}
.main .content .items .item .box h6 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.main .content .items .item .box p {
  font-size: 1.6rem;
}
.main .content .top {
  margin: 20px 0;
}
.main .content .bottom {
  margin: 40px 0;
}
.main .content .text {
  font-size: 1.4rem;
}

@media screen and (max-width: 599px) {
  .title-view {
    width: 100%;
    text-align: center;
    background: url("../images/H2.jpg");
    background-position: 50% 45%;
  }
  .title-view .bg {
    display: inline-block;
    line-height: 6rem;
    font-size: 2.4rem;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 1.5rem;
    color: #01254a;
  }

  .main {
    width: 65%;
    margin: 0 auto;
  }
  .main .content .sub-title {
    font-size: 2rem;
    line-height: 2.1rem;
    margin: 40px auto 30px;
    text-align: center;
    color: #01254a;
    font-style: italic;
  }
  .main .content .sub-title .small {
    font-size: 1.4rem;
  }
  .main .content .items .item {
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
  }
  .main .content .items .item .image img {
    width: 250px;
  }
  .main .content .items .item .box {
    width: 250px;
    margin: 15px 0 0;
  }
  .main .content .items .item .box h6 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .main .content .items .item .box p {
    font-size: 1.4rem;
  }
  .main .content .top {
    margin: 15px 0;
  }
  .main .content .bottom {
    margin: 25px 0;
  }
}