@import "mixin.scss";

@include title-view(11rem,4rem,3rem);

.main{
  width: 65%;
  margin: 0 auto;
  .contact{
    @include sub-title(3rem,3.2rem,70px,60px,1.8rem);
    .text{
      font-size: 1.8rem;
    }
    .item{
      margin-top: 30px;
      font-size: 2rem;
      input{
        width: 50%;
      }
      textarea{
        width: 50%;
        height: 100px;
      }
      button{
        width: 50%;
        height: 50px;
        border-radius: 25px;
        background: #fbdd4a;
        color: #FFF;
        margin-top: 40px;
        border: 0px;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

//スマホ
@media screen and (max-width: 599px){
  @include title-view(6rem,2.4rem,1.5rem);
  .main{
    width: 65%;
    margin: 0 auto;
    .contact{
      @include sub-title(2rem,2.1rem,40px,30px,1.4rem);
      .text{
        font-size: 1.4rem;
      }
      .item{
        margin-top: 20px;
        font-size: 1.4rem;
        input{
          width: 100%;
        }
        textarea{
          width: 100%;
          height: 60px;
        }
        button{
          width: 100%;
          height: 30px;
          border-radius: 15px;
          margin-top: 30px;
        }
      }
    }
  }
}